@font-face {
  font-family: Arcane;
  font-style: normal;
  src: url("Arcane-Regular.woff2");
  font-weight: normal;
}

@font-face {
  font-family: Arcane;
  font-style: normal;
  src: url("Arcane-Bold.woff2");
  font-weight: bold;
}

@font-face {
  font-family: Arcane;
  font-style: italic;
  src: url("Arcane-Italic.woff2");
  font-weight: normal;
}

@font-face {
  font-family: Arcane;
  font-style: italic;
  src: url("Arcane-BoldItalic.woff2");
  font-weight: bold;
}

@font-face {
  font-family: Arcane;
  font-style: normal;
  src: url("Arcane-Condensed.woff2");
  font-weight: normal;
  font-stretch: condensed;
}

@font-face {
  font-family: Arcane;
  font-style: normal;
  src: url("Arcane-CondensedBold.woff2");
  font-weight: bold;
  font-stretch: condensed;
}

@font-face {
  font-family: Arcane;
  font-style: italic;
  src: url("Arcane-CondensedItalic.woff2");
  font-weight: normal;
  font-stretch: condensed;
}

@font-face {
  font-family: Arcane;
  font-style: italic;
  src: url("Arcane-CondensedBoldItalic.woff2");
  font-weight: bold;
  font-stretch: condensed;
}

@font-face {
  font-family: Intrepid;
  font-style: normal;
  src: url("Intrepid-Regular.woff2");
  font-weight: normal;
}

@font-face {
  font-family: Intrepid;
  font-style: normal;
  src: url("Intrepid-Bold.woff2");
  font-weight: bold;
}

@font-face {
  font-family: Intrepid;
  font-style: italic;
  src: url("Intrepid-Italic.woff2");
  font-weight: normal;
}

@font-face {
  font-family: Intrepid;
  font-style: italic;
  src: url("Intrepid-BoldItalic.woff2");
  font-weight: bold;
}

@font-face {
  font-family: Intrepid;
  font-style: normal;
  src: url("Intrepid-Condensed.woff2");
  font-weight: normal;
  font-stretch: condensed;
}

@font-face {
  font-family: Intrepid;
  font-style: normal;
  src: url("Intrepid-CondensedBold.woff2");
  font-weight: bold;
  font-stretch: condensed;
}

@font-face {
  font-family: Intrepid;
  font-style: italic;
  src: url("Intrepid-CondensedItalic.woff2");
  font-weight: normal;
  font-stretch: condensed;
}

@font-face {
  font-family: Intrepid;
  font-style: italic;
  src: url("Intrepid-CondensedBoldItalic.woff2");
  font-weight: bold;
  font-stretch: condensed;
}
