@font-face {
  font-family: Arcane;
  font-style: normal;
  src: url("Arcane-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Arcane;
  font-style: normal;
  src: url("Arcane-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Arcane;
  font-style: italic;
  src: url("Arcane-Italic.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Arcane;
  font-style: italic;
  src: url("Arcane-BoldItalic.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Arcane;
  font-style: normal;
  src: url("Arcane-Condensed.ttf");
  font-weight: normal;
  font-stretch: condensed;
}

@font-face {
  font-family: Arcane;
  font-style: normal;
  src: url("Arcane-CondensedBold.ttf");
  font-weight: bold;
  font-stretch: condensed;
}

@font-face {
  font-family: Arcane;
  font-style: italic;
  src: url("Arcane-CondensedItalic.ttf");
  font-weight: normal;
  font-stretch: condensed;
}

@font-face {
  font-family: Arcane;
  font-style: italic;
  src: url("Arcane-CondensedBoldItalic.ttf");
  font-weight: bold;
  font-stretch: condensed;
}

@font-face {
  font-family: Intrepid;
  font-style: normal;
  src: url("Intrepid-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Intrepid;
  font-style: normal;
  src: url("Intrepid-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Intrepid;
  font-style: italic;
  src: url("Intrepid-Italic.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Intrepid;
  font-style: italic;
  src: url("Intrepid-BoldItalic.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Intrepid;
  font-style: normal;
  src: url("Intrepid-Condensed.ttf");
  font-weight: normal;
  font-stretch: condensed;
}

@font-face {
  font-family: Intrepid;
  font-style: normal;
  src: url("Intrepid-CondensedBold.ttf");
  font-weight: bold;
  font-stretch: condensed;
}

@font-face {
  font-family: Intrepid;
  font-style: italic;
  src: url("Intrepid-CondensedItalic.ttf");
  font-weight: normal;
  font-stretch: condensed;
}

@font-face {
  font-family: Intrepid;
  font-style: italic;
  src: url("Intrepid-CondensedBoldItalic.ttf");
  font-weight: bold;
  font-stretch: condensed;
}
